/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}

a {text-decoration: underline;}


#right a{
	color: #074959;
	text-decoration: underline;
}

#right a:hover{
	text-decoration: none;
	color: #C80909;
	text-decoration: underline;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(images/bg.jpg) center top no-repeat #074959;
	margin: 31px 0px 33px 0px;
	line-height: 20px;
}

#main {
	width: 1014px;
	margin-left: 0px;
	background: url(images/top.gif) top no-repeat ;
	padding: 5px 5px 0px 5px;
}

#main_bot {
width: 1024px;
background: url(images/bottom.gif) bottom no-repeat #FFFFFF;
margin: 0px auto;
}


#header { 
width:1024px;
padding: 0px 0px 0px 0px;
background: url(images/big.jpg) left top no-repeat;
}

#logo {	font-family: Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		font-size:18px;
		font-style:italic;
		padding: 88px 0px 0px 460px;
		background: url(images/big_img.jpg) left top no-repeat;
		height: 192px;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 18px;
	color: #FFFFFF;
}


#logo H2 a{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
	font-weight:100;
}

#buttons{
	width: 1014px;
	background: url(images/bg_but.jpg) left top no-repeat;
	text-align:center;
	padding-left:20px;
	padding-top: 0px;
	height: 55px;
}

#buttons a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	display: block;
	float: left;
	height: 35px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 20px;
	padding-left: 60px;
	text-align: left;
	width: 140px;
	background: url(images/but.gif) 30px 20px no-repeat;
}

#buttons a:hover {
	text-decoration: none;
	background: url(images/over.jpg) 30px 20px no-repeat;
	font-size: 20px;
}

#content{
	width: 1016px;
	padding: 0px 0px 0px 0px;
	background: url(images/content.gif) left repeat-y;
	margin: 0px 0px 0px 0px;
}

#content_top{
	width: 1016px;
	padding: 0px 0px 0px 0px;
	background: url(images/left_top.gif) left top no-repeat;
	margin: 0px 0px 0px 0px;
}

#content_bot{
	width: 1016px;
	padding: 0px 0px 0px 0px;
	background: url(images/left_bot.gif) left bottom no-repeat;
	margin: 0px 0px 0px 0px;
}

#right{
	width: 663px;
	margin: 0px 0px 0px 0px;
	float: right;
	color:#000000;
}

.right_b {	background: url(images/fish.png)  0px 8px no-repeat;
		padding-left: 22px;
		padding-top: 5px;
		padding-right: 5px;
}

.text{
	padding: 10px 0px 0px 5px;
}

.img {	float:left;
		margin: 0px 16px 3px 0px;
}

#right span {	color:#074959;
		font-weight:bold;
}

#left span {	color:#074959;
		font-weight:bold;
}

#right H1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #074959;
	text-align:left;
	padding: 15px 0px 4px 0px;
}

#left H2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: 100;
	color: #074959;
	padding-top: 12px;
	padding-left: 0px;
	text-align: left;
	padding: 15px 0px 4px 0px;
}

.read{
	text-align:right;
	padding-right:10px;
	padding-top: 5px;
	font-weight:bold;
	text-decoration:none;
}

#left{
float: left;
width: 330px;
margin-left: 0px;
padding: 0px 8px 0px 8px;
}

.tit_bot { background: url(images/right_bg.jpg) left top no-repeat;
padding: 0px 15px 0px 14px;}

.col_l { width: 295px;
float:left;}

.col_r { width: 298px;
float:left;
margin-left: 22px}

#footer{
	height: 53px;
	width: 100%;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	clear:both;
	padding: 12px 0px 0px 0px;
	background: url(images/footer.jpg) 0px 5px no-repeat;
}

#footer a{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
}

#footer a:hover{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: underline;
}
